// ===============
// colors palette
// ===============
:root {
	--primary-font: "Outfit";
	--white: white;
	--primary-text: #343434;
	--brand-secondary: #da3c3c;

	--yellow: #f6b644;

	--dark: #070707;
	--gray-dark: #222222;

	--bg-dark-gray: #e4e4e4;
	--bg-light-gray: #f9f9f9;

	--hoverButton: #f6b644;

	// ================================================================;
}
