//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--white);
	line-height: 1.2;
	background-color: var(--brand-secondary);
	border-radius: toRem(27);
	font-size: toRem(16);
	padding: toRem(12) toRem(40);
	transition: all 0.3s;
	font-weight: 500;
	@media (max-width: $mobileSmall) {
		font-size: toRem(12);
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--hoverButton);
		}
	}
	&_transparent {
		background-color: transparent;
		border: toRem(1) solid var(--secondary-text);
		@media (any-hover: hover) {
			&:hover {
				border: toRem(1) solid var(--hoverButton);
			}
		}
	}
	@media (max-width: $mobileSmall) {
		padding: toRem(7) toRem(15);
	}
}
